<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">

    <!-- Custom styles for this template -->

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="span12">
                <h1>Page Not Found
                    <small><font face="Tahoma" color="red">Error 404</font></small>
                </h1>
                <br/>
                <p>The page you requested could not be found, either contact your webmaster or try again.</p>
            </div>
        </div>
    </div>

    <!-- Bootstrap Core JavaScript, JQuery, Popper -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/popper/popper.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom JavaScript for this theme -->

</body>
</html>